# Calcurse config
Configs/calcurse/.calcurse/*
!Configs/calcurse/.calcurse/conf
# VSCode Config
Configs/vscode/.config/Code\ -\ OSS/*
!Configs/vscode/.config/Code\ -\ OSS/User/settings.json
Configs/vscode/.config/VSCodium/*
!Configs/vscode/.config/VSCodium/User/settings.json
# FCITX config
Configs/fcitx/
!Configs/fcitx/.config/fcitx/config
!Configs/fcitx/.config/fcitx/profile
# CMUS config
Configs/cmus/.config/cmus/*
!Configs/cmus/.config/cmus/autosave
# only allow wallpapers
Configs/wallpapers/Pictures
!Configs/wallpapers/Pictures/Wallpapers
# NeoVim config
Configs/nvim/.config/nvim/plugged/
Configs/nvim/.config/nvim/plugin/packer_compiled.lua
# Misc
__pycache__/
log.txt
